.add-goal-card {
  max-width: 750px;
  width: 90%;
  text-align: center;
  animation: fadeSlide 0.8s ease;
}


.page-title {
  font-size: 2.4rem;
  color: #ffffff;
  margin-bottom: 30px;
}


.form-row {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.form-row input {
  flex: 1;
}

input,
select {
  padding: 14px;
  border-radius: 12px;
  border: none;
  font-size: 15px;
  outline: none;
}


.button-row {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.primary-btn {
  padding: 14px 30px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 14px;
  border: none;
  cursor: pointer;
  background: linear-gradient(90deg, #00f2fe, #4facfe);
  color: #003366;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.primary-btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 25px rgba(0,0,0,0.3);
}

.primary-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.secondary-btn {
  padding: 14px 26px;
  font-size: 1rem;
  border-radius: 14px;
  border: none;
  cursor: pointer;
  background: #444;
  color: white;
  transition: background 0.3s ease;
}

.secondary-btn:hover {
  background: #222;
}

@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
